<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ActDashboard.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GithubActionOutputViewer.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ActDashboard.Settings1>
            <setting name="FolderPath" serializeAs="String">
                <value>None</value>
            </setting>
        </ActDashboard.Settings1>
        <GithubActionOutputViewer.Settings1>
            <setting name="FolderPath" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="LastActionFile" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="DockerContainers" serializeAs="String">
                <value />
            </setting>
            <setting name="KillContainers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunOnGitBranch" serializeAs="String">
                <value />
            </setting>
        </GithubActionOutputViewer.Settings1>
    </userSettings>
</configuration>